# Get Gemini API key from https://aistudio.google.com
GEMINI_API_KEY=AIzaSyDYAT4eCSkSIf0po37Rz8YP_Ne7KAQ7jts
# Get Tavily API key from https://tavily.com (free tier available)
TAVILY_API_KEY=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